{% for organization in aws_organizations %}
[{{ organization.organization_name }}]
aws_access_key_id = {{ organization.credential.access_key }}
aws_secret_access_key = {{ organization.credential.secret_key }}

{% endfor %}